{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/book.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cписок рецептов</title>
</head>
<body>
<ul>
  {% for i in recipe_list %}
  <li>
    <button><a href="/recipe_list/{{ i.id }}/delete/">Удалить</a></button>
    <button><a href="/recipe_list/{{ i.id }}/">Подробнее</a></button>
  </li>
  {% endfor %}
</ul>
</body>
</html>

{% include 'components/footer.html' %}
